.about {
  background-color: #212121;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* align-items: center; */
}

.about h2 {
  margin: auto;
  font-size: 26px;
  width: 90%;
  margin-top: 96px;
  margin-bottom: 120px;
  color: #f6eee1;
  font-family: Nagoda;
}

.about span {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #ce889f, #c74922);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about p {
  margin: auto;
  font-size: 16px;
  color: #f6eee1;
  width: 90%;
  font-family: var(--paragraphs);
}

.about-decoration {
  display: none;
}

.about-decoration-mobile {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 0;
  margin-top: 420px;
}

.about-first-image {
  width: 70%;
  margin-top: 278px;
  z-index: 1;
  position: absolute;
  margin-left: 24px;
}

.about-second-image {
  display: none;
}

.about-third-image {
  margin-top: 313px;
  width: 40%;
  z-index: 3;
  position: absolute;
  margin-left: 200px;
}

@media only screen and (min-width: 600px) {
  .about {
    height: 1200px;
  }

  .about h2 {
    margin-left: 200px;
    font-size: 48px;
    width: 90%;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .about-decoration {
    display: block;
    width: 100%;
    margin-top: 380px;
    margin-bottom: 40px;
    z-index: 0;
    position: absolute;
  }

  .about-decoration-mobile {
    display: none;
  }

  .about-first-image {
    width: 400px;
    margin-top: 308px;
    margin-left: 47%;
  }

  .about-second-image {
    display: block;
    position: absolute;
    width: 330px;
    margin-top: 524px;
    margin-left: 60%;
    z-index: 2;
  }

  .about-third-image {
    margin-top: 344px;
    width: 445px;
    margin-left: 72%;
  }

  .about p {
    font-size: 24px;
    margin-top: 444px;
    width: 70%;
  }
}
