.about {
  background-color: rgb(24, 24, 24);
  height: 880px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about h2 {
  margin: auto;
  font-size: 24px;
  width: 90%;
  margin-top: 76px;
  margin-bottom: 220px;
  color: #f6eee1;
  font-family: Nagoda;
}

.about span {
  background-color: #f3ec78;
  background-image: linear-gradient(45deg, #df8995, #d44f37);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.about p {
  margin: auto;
  font-size: 16px;
  color: #f6eee1;
  width: 90%;
  font-family: var(--paragraphs);
  margin-top: 250px;
}

.about-decoration {
  display: none;
}

.about-decoration-mobile {
  display: block;
  position: absolute;
  width: 100%;
  z-index: 0;
  margin-top: 420px;
}

.mobile-break {
  display: block;
}

.about-desktop-image {
  display: none;
}

.about-mobile-image {
  position: absolute;
  display: block;
  margin-left: 7%;
  margin-top: 65%;
  margin-right: auto;
  width: 85%;
}

@media only screen and (min-width: 600px) {
  .about {
    height: 1050px;
  }

  .mobile-break {
    display: none;
  }
  .about h2 {
    margin-left: 200px;
    font-size: 20px;
    width: 60%;
    margin-top: 120px;
    margin-bottom: 120px;
  }

  .about-decoration {
    display: block;
    width: 100%;
    margin-top: 380px;
    margin-bottom: 40px;
    z-index: 0;
    position: absolute;
  }

  .about-decoration-mobile {
    display: none;
  }

  .about .about-desktop-image {
    position: absolute;
    display: block;
    margin-left: 48%;
<<<<<<< HEAD
    margin-top: 50%;
=======
    margin-top: 54%;
>>>>>>> dfb3e27cec925e23344389cfa2426ea12216f50d
    margin-right: auto;
    width: 45%;
  }

  .about p {
<<<<<<< HEAD
    font-size: 18px;
    margin-top: 40%;
    width: 50%;
=======
    font-size: 24px;
    margin-top: 544px;
    width: 80%;
>>>>>>> dfb3e27cec925e23344389cfa2426ea12216f50d
    margin-left: 200px;
  }

  .about-mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 650px) {
  .about .about-desktop-image {
    margin-top: 54%;
  }

  .about p {
    margin-top: 50%;
  }
}

@media only screen and (min-width: 700px) {
  .about h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 800px) {
  .about .about-desktop-image {
    margin-top: 44%;
  }
  .about p {
    width: 60%;
    margin-top: 40%;
  }

  .about h2 {
    font-size: 24px;
  }
}

@media only screen and (min-width: 900px) {
  .about .about-desktop-image {
    margin-top: 38%;
  }
  .about h2 {
    font-size: 32px;
    width: 70%;
  }
}

@media only screen and (min-width: 1000px) {
  .about .about-desktop-image {
    margin-top: 34%;
  }
  .about p {
    width: 70%;
  }
}

@media only screen and (min-width: 1100px) {
  .about .about-desktop-image {
    margin-top: 30%;
  }
}

@media only screen and (min-width: 1200px) {
  .about .about-desktop-image {
    margin-top: 28%;
  }
}

@media only screen and (min-width: 1400px) {
  .about h2 {
    font-size: 44px;
  }

  .about .about-desktop-image {
    margin-top: 24%;
  }

  .about p {
    margin-top: 35%;
  }

  .about h2 {
    width: 80%;
  }
}
