.contact {
  background: url("/images/landing/backgroundTwo.avif") no-repeat center
    center/cover;
  height: 900px;
}

.contact h2 {
  color: #212121;
  font-family: Nagoda;
  font-size: 26px;
  text-align: left;
  padding-top: 110px;
  padding-left: 4%;
  padding-right: 4%;
}

.contact-decoration-mobile {
  margin-top: 130px;
  display: block;
  z-index: 0;
  position: absolute;
  width: 100%;
}

.contact-decoration {
  display: none;
}

.contact button {
  width: 200px;
  background: pink;
}

.contact-desktop-image {
  display: none;
}

.contact-mobile-image {
  position: absolute;
  display: block;
  margin-left: 16%;
  margin-top: 9%;
  margin-right: auto;
  width: 70%;
}

.contact button {
  width: 300px;
  background: url("/images/contact/ContactButton.png") no-repeat center
    center/cover;
  margin-left: 8%;
  margin-top: 530px;
  border: none;
  border-radius: 20%;
  height: 80px;
  color: #e97763;
  padding-bottom: 18px;
  font-size: 18px;
  text-align: left;
  padding-left: 45px;
  font-family: Nagoda;
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  .contact button {
    margin-top: 600px;
  }
}

@media only screen and (min-width: 600px) {
  .contact {
    height: 800px;
  }

  .contact h2 {
    padding-top: 100px;
    font-size: 30px;
    line-height: 30px;
    width: 80%;
    line-height: 56px;
    padding-left: 100px;
    margin: auto;
  }

  .contact-decoration-mobile {
    display: none;
  }

  .contact-decoration {
    display: block;
    width: 100%;
    z-index: 0;
    position: absolute;
  }

  .contact-desktop-image {
    position: absolute;
    display: block;
    margin-left: 18%;
    margin-top: 7%;
    margin-right: auto;
    width: 70%;
  }

  .contact button {
    width: 300px;
    margin-left: 150px;
    margin-top: 380px;
    border: none;
    border-radius: 20%;
    height: 80px;
    color: #e97763;
    padding-bottom: 18px;
    font-size: 18px;
    padding-left: 45px;
  }

  .contact-mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .contact-desktop-image {
    position: absolute;
    display: block;
    margin-left: 18%;
    margin-top: 7%;
    margin-right: auto;
    width: 70%;
  }

  .contact button {
    width: 300px;
    margin-left: 80px;
    margin-top: 450px;
    border: none;
    border-radius: 20%;
    height: 80px;
    color: #e97763;
    padding-bottom: 18px;
    font-size: 18px;
    padding-left: 45px;
  }

  .contact-mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 800px) {
  .contact-desktop-image {
    position: absolute;
    display: block;
    margin-left: 16%;
    margin-top: 7%;
    margin-right: auto;
  }

  .contact button {
    width: 300px;
    margin-left: 80px;
    margin-top: 500px;
    border: none;
    border-radius: 20%;
    height: 80px;
    color: #e97763;
    padding-bottom: 18px;
    font-size: 18px;
    padding-left: 45px;
  }

  .contact-mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  .contact-desktop-image {
    margin-left: 26%;
    margin-top: 7%;
  }

  .contact button {
    margin-left: 80px;
    margin-top: 500px;
    padding-bottom: 18px;
    padding-left: 45px;
  }

  .contact-mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .contact-desktop-image {
    position: absolute;
    display: block;
    margin-left: 28%;
    margin-top: 7%;
    margin-right: auto;
    width: auto;
  }

  .contact-mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 1180px) {
  .contact-desktop-image {
    position: absolute;
    display: block;
    margin-left: 38%;
    margin-top: 7%;
    margin-right: auto;
    width: auto;
  }

  .contact-mobile-image {
    display: none;
  }
}

@media only screen and (min-width: 1350px) {
  .contact {
    height: 1000px;
  }

  .contact button {
    margin-left: 200px;
    margin-top: 400px;
    padding-left: 45px;
  }

  .contact-desktop-image {
    position: absolute;
    display: block;
    margin-left: 46%;
    margin-top: 7%;
    margin-right: auto;
    width: auto;
  }

  .contact-mobile-image {
    display: none;
  }

  .contact h2 {
    padding-top: 200px;
    font-size: 56px;
    width: 80%;
    line-height: 56px;
    margin: auto;
  }
}
