.container {
  width: 100%;
  height: 100%;
  /* overflow-y: scroll; */
  /* scroll-behavior: smooth; */
  /* scroll-snap-type: y mandatory; */
  background-color: #212121;
}

section {
  width: 100%;
  /* scroll-snap-align: start; */
}

.home {
  height: 100vh;
  background: url("/images/animeringTest.png") no-repeat center center/cover;
}

.contact {
  background-color: rgb(15, 46, 46);
  /* test */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.initiative {
  background-color: rgb(1, 134, 211);
  /* test */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
}
