.footer {
  background-color: rgb(24, 24, 24);
  height: 850px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.footer h2 {
  font-size: 25px;
  margin-top: 96px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 140px;
  font-family: Nagoda;
  color: var(--heading-color);
}

.footer-container {
  display: flex;
  flex-direction: column;
  margin-left: 23px;
}

.footer-container div {
  margin-bottom: 38px;
}

.footer h3 {
  color: white;
  font-family: Nagoda;
  font-size: 22px;
  margin-bottom: 20px;
}

.footer p {
  font-family: Syne;
  color: white;
  font-size: 20px;
}

.footer img {
  margin-right: 10px;
}

.footer span {
  color: rgb(221, 67, 93);
}

@media only screen and (min-width: 600px) {
  .footer h2 {
    margin-left: 120px;
  }

  .footer h3 {
    margin-left: 100px;
  }

  .footer p {
    margin-left: 100px;
  }

  .footer img:first-of-type {
    margin-left: 100px;
  }
}

@media only screen and (min-width: 1350px) {
  .footer {
    height: 750px;
    align-items: center;
    text-align: left;
  }

  .footer h2 {
    font-size: 45px;
    width: 75%;
    margin-top: 177px;
    margin-left: 70px;
    margin-right: 0px;
    margin-bottom: 166px;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
  }

  .footer-container div {
    margin-bottom: 0px;
  }
}
