html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  line-height: 1.6;
  /* overflow: hidden; */
  color: aliceblue;
}

@font-face {
  font-family: "Nagoda";
  src: url("fonts/Nagoda.woff") format("woff");
}
