:root {
  --paragraphs: Syne;
  --heading-color: #f6eee1;
  --paragraph-color: #f6eee1;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #212121;
}

@font-face {
  font-family: "Nagoda";
  src: url("fonts/Nagoda2.woff") format("woff"),
    url("fonts/Nagoda2.woff2") format("woff2");
}

@font-face {
  font-family: "NagodaTwo";
  src: url("fonts/Nagoda.woff") format("woff"),
    url("fonts/Nagoda.woff2") format("woff2");
}

@font-face {
  font-family: "Syne";
  src: url("fonts/Syne.woff") format("woff");
}
