/* MOBILE */

.header-container {
  display: none;
}

header {
  position: fixed !important;
  width: 100%;
  background-image: url("../images/navbar-mobil.png");
  top: 0;
  position: sticky;
  z-index: 5;
  padding: 0px;
}

.hamburger {
  margin-top: 11px;
}

.hamburger .bar:nth-child(1) {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-right: 12px solid rgb(255, 0, 0);
  border-bottom: 7px solid transparent;
}

.hamburger .bar:nth-child(2) {
  width: 15px;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(255, 0, 0);
  transform: translateY(-5px) rotate(90deg);
}

.hamburger .bar:nth-child(3) {
  width: 0;
  height: 0;
  border-top: 7px solid transparent;
  border-left: 12px solid rgb(255, 0, 0);
  border-bottom: 7px solid transparent;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(0px) rotate(-180deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(0px) rotate(180deg);
}

.bar {
  display: inline-block;
  height: 0px;
  color: white;
  margin: 5px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}

.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  align-items: center;
  position: fixed;
  left: 100%;
  top: 70px;
  flex-direction: column;
  background-color: black;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  gap: 4px;
}

.nav-item {
  margin: 16px 0;
}

.nav-item:first-child {
  margin-top: 80px;
}

.nav-menu.active {
  left: 0;
}

.nav-menu .social-media-icons {
  display: inline-flex;
  offset-distance: 70px;
}

.social-media-icons img {
  margin-top: 120px;
  padding: 2rem;
}

img .facebook {
  margin-left: 8px;
}

.nav-link {
  transition: 0.5s ease-out;
}

.nav-link:hover {
  color: rgb(132, 238, 132);
}

/* NAV BRANDING */

/* .nav-branding .logo-image {
  width: 123px;
  height: 19px;
} */

/* .logo-image #element {
  transition: 0.5s ease-out;
} */

.nav-branding .logo-image #element {
  fill: rgb(0, 0, 0);
}

.nav-branding {
  margin-top: 10px;
}

/* DESKTOP */

@media only screen and (min-width: 600px) {
  .navbar {
    display: none;
  }

  .test-button {
    background-color: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
  }

  .header-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    z-index: 1;
    position: absolute;
  }

  .header-container a {
    /* margin-top: 40px; */
    /* padding: 0px; */
    color: white;
    font-size: 19px;
    text-decoration: none;
    font-family: "arial";
    padding-right: 40px;
  }

  /* Drop down */

  .drop-btn {
    background-color: transparent;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    /* margin: 40px; */
    padding: 13px 30px 0px 0px;
    position: relative;
    display: inline-block;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 2px;
    margin: 10px;
    text-decoration: none;
    display: block;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
