/* MOBILE */

.projects {
  background: url("/images/landing/labBackground.png") no-repeat center
    center/cover;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
}

.projects-text h2 {
  font-size: 48px;
  color: #f6eee1;
  font-family: Nagoda;
}

/* .scroll-menu {
  display: none;
} */
.projects .scroll-menu {
  /* background-color: aqua; */
  margin-bottom: 1rem;
  overflow: auto;
  white-space: nowrap;
  padding-left: 10px;
}

.projects .scroll-menu div {
  width: 60%;
  max-width: 50rem;
  padding: 10px;
  /* border: 2px solid black; */
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
}

.projects .scroll-menu img {
  width: 100%;
}

.projects-text {
  padding: 100px 20px 80px 20px;
}

.projects-text h2 {
  /* background-color: rgb(77, 45, 6); */
  color: black;
  padding-bottom: 40px;
}

.projects p {
  color: var(--paragraph-color);
  font-family: var(--paragraphs);
}

.projects-text .paragraph-text-desktop {
  display: none;
}

/* DESKTOP */

@media only screen and (min-width: 600px) {
  .projects {
    background: url("/images/landing/backgroundOne.png") no-repeat center
      center/cover;
    height: 1000px;
  }

  .projects-text {
    padding: 70px 10px 60px 120px;
    /* background-color: blueviolet; */
    text-align: left;
    justify-content: left;
    align-self: start;
  }

  .projects-text h2 {
    padding-bottom: 40px;
    font-size: 48px;
  }

  .projects-text .paragraph-text-desktop {
    display: inherit;
  }

  .projects-text .paragraph-text-mobile {
    display: none;
  }

  .projects .scroll-menu {
    /* margin: 1rem; */
    height: 530px;
    padding-left: 100px;
  }
  .scroll-menu::-webkit-scrollbar {
    display: none;
  }

  .scroll-menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .projects .scroll-menu div {
    width: 24%;
    max-width: 50rem;
    padding: 10px;
    /* border: 2px solid black; */
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
  }
}
