/* MOBILE */

.sidenav {
  display: none;
}

/* DESKTOP */

@media only screen and (min-width: 600px) {
  .sidenav {
    display: block;
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0px;
    background-image: url("../images/navbar_desktop.png");
    overflow-x: hidden;
    transition: 0.5s;
  }

  .sidenav ul {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .sidenav a {
    padding: 10px 8px 8px 8px;
    text-decoration: none;
    display: block;
  }

  .none {
    text-align: center;
  }

  nav .sidenav ul li a {
    font-size: 1px;
    text-decoration: none;
  }

  nav .sidenav ul li.active .button-element {
    fill: rgb(255, 30, 0);
  }

  .home-page a .button-element {
    transition: 0.5s ease-out;
  }
}
